@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 15, 23, 42;
    --background-end-rgb: 7, 12, 20;
  }
} */

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 15, 23, 42, 1;
  --background-end-rgb: 8, 15, 25, 1;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(15, 23, 42);
  background: linear-gradient(135deg, rgba(var(--background-start-rgb)) 0%, rgba(var(--background-end-rgb)) 100%);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}