.container {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  text-align: center;
}

.image {
  flex-basis: 50%;
  align-self: center;
}

.text {
  flex-basis: 50%;
  align-self: center;
}
